* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 400px;
    background-image: url(img/mv.jpg);
    background-position: bottom;
    background-size: cover;

}

.heading {
    color: #babcbc;
    margin-top: 20px;
    margin-left: 20px;
}

main {
    width: 840px;
    margin: 50px auto;
}

.web-text {
    color: #6a6c6c;
}

.web1 {
    padding-bottom: 30px;
    border-bottom: 1px solid #babcbc;
}
.web2 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #babcbc;
}
.web3 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #babcbc;
}
.web4 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #babcbc;
}
